################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/QAAutomation/.vs/QAAutomation/v15
/QAAutomation/LGRegressionTests/bin/Debug/netcoreapp2.0
/QAAutomation/LGRegressionTests/obj
/QAAutomation/LGRegressionTests/bin/Release/netcoreapp2.0
/QAAutomation/LGRegressionTests/LGRegressionTests.csproj.user
/QAAutomation/.vs/QAAutomation/lut
/QAAutomation/Common/bin
/QAAutomation/Common/obj
/QAAutomation/packages
/QAAutomation/QAAutomationAPI/bin
/QAAutomation/QAAutomationAPI/obj
/QAAutomation/QAAutomationUI/bin
/QAAutomation/QAAutomationUI/obj
/QAAutomation/UITest.Net/bin
/QAAutomation/UITest.Net/obj
/QAAutomation/Models/bin
/QAAutomation/Models/obj
/QAAutomation/.vs/QAAutomation/DesignTimeBuild
/QAAutomation/MiscLib/bin/Debug
/QAAutomation/MiscLib/obj/Debug
/QAAutomation/MiscLib/obj/Release
/QAAutomation/DataTest/obj
/QAAutomation/DataTest/bin/Debug/netcoreapp2.0
/QAAutomation/TestResults
/QAAutomation/.vs/QAAutomation/DesignTimeBuild
/NuGet
